<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shopping Pal</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="icon" type="image/x-icon" href="/my-shopping-pal-favicon.ico">
</head>
<body>
    <a class="back-to-list-link" href="/items"><button class="back-to-list-btn">Back to List</button></a>
    <div class="edit-container">
    <div class="edit-flexbox">
    <h1 class="edit-title"> Edit <%=item.name%> </h1>
    <form class="edit-form" action="/items/<%= item.id %>?_method=PUT" method="POST">
        <div> <span class="edit-label">Name:</span> <input class="edit-name" type="text" name="name" value="<%=item.name%>"/> </div>
        <br>
        <div class="edit-image-section"> <span class="edit-label">Image:</span> <input class="edit-image" type="text" name="image" value="<%=item.image%>"/> <div class="tooltip"><span id="image-info-symbol" class="material-symbols-outlined">info</span><span class="tooltiptext">Only an image URL is accepted. To get one, search for your item on Google and go to the images tab. If on desktop, click the image result you want to use, then right click and choose "Copy Image Address". If on mobile, tap the image result, then tap and hold it, choose "Open Image", and copy the URL from the new page.</span></div> </div>
        <br>
        <div class="edit-notes-section"> <span class="edit-label">Notes:&nbsp;</span> <textarea class="edit-notes" type="text" name="notes"><%=item.notes%></textarea> </div> 
        <br>
        <input class="edit-submit-btn" type="submit" name="" value="Submit Changes"/>
    </form>
    </div>
    </div>
</body>
</html>